* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* header section styles */
.header-section {
    display: flex;
    margin: 50px 100px;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 50px 50px 0px 50px;
}

.header-text {
    width: 50%;
    margin: 5px;
    padding: 5px;
}

.header-text h1 {
    font-size: 3em;
    font-weight: 900;
}

/* .header-text p {
    margin: 50px 0px;
} */

.btn {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 15px;
    border-radius: 5px;
}

.header-image {
    width: 50%;
}

.header-image img {
    width: 100%;
}

/* main section styles */
.main-section {
    display: flex;
    margin: 50px 100px;
}

.section-menu {
    margin-top: 16px;
    border-radius: 10px;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    text-align: center;
}

.section-menu>a {
    text-decoration: none;
    margin: 20px 30px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    color: black;
}

#selected {
    background-color: red;
    color: white;
}

.menu-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    border: 1px solid lightslategray;
    border-radius: 14px;
    margin: 15px;
}

.card img {
    width: 100%;
    margin-bottom: 10px;
}

.card-text {
    margin-left: 10px;
    padding-left: 10px;
}

.card a {
    text-decoration: none;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

.menu-details-text {
    margin: 10px 0px;
    padding: 10px 0px;
}

.time-chat {
    display: flex;
    column-gap: 50px;
}

.time {
    display: flex;
    column-gap: 15px;
}

.chat {
    display: flex;
    column-gap: 15px;
}

/* tablet device styles */
.tablet-section {
    margin: 30px;
    position: relative;
    top: 5px;
    left: 650px;
    display: none;

}

/* footer stylesheets */

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

.footer h1 {
    margin: 50px 0;
}

.important-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    font-weight: lighter;
}

.link a {
    text-decoration: none;
    color: white;
}

/* website responsiveness styles */


@media only screen and (max-width: 480px) {
    .main-section {
        flex-direction: column;
    }

    .section-menu {
        flex-direction: column;
    }

    .menu-details {
        grid-template-columns: repeat(1, 1fr);
    }

    .important-links {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .main-section {
        display: flex;
        flex-direction: column;
    }

    .section-menu {
        flex-direction: row;
        width: 100%;
        background-color: white;

    }

    .menu-details {
        grid-template-columns: repeat(2, 1fr);
    }

    .tablet-section {
        display: inline;
        justify-content: start;
        align-items: flex-start;

    }
}